.header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.center-nav-menu {
  /* Every toolbar row uses a flexbox row layout.
  When you use margin auto on a flex-item,
  the value auto will take up any empty spaces available on either side */
  margin-left: auto;
  margin-right: auto
}

.toolbar button,
.toolbar a {
  font-weight: 400;
}

.menu-active {
  color:#FFFFFF;
}

.toolbar a:hover {
  color:#ff4081;
}
