.menu-fill-remaining-space1 {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex-grow: 0.5;
}

.menu-fill-remaining-space2 {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.menu button,
.menu a {
  font-weight: 400;
  margin-right: 8px;
}

