

.sidenav .mat-toolbar {
  height: 100%;
  width: 200px;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-remaining-space1 {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex-grow: 0.5;
}

.fill-remaining-space2 {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.links {
  color: white;
  text-decoration: none;
  margin:0;
  padding: 1em;
}
