<header>
  <mat-toolbar color="primary" class="toolbar">
    <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
      <span class="mat-title" >ngrx-shopping-cart</span>
    </a>
    <span class="menu-fill-remaining-space1"></span>
    <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a>
    <span class="menu-fill-remaining-space2"></span>
    <a mat-icon-button  routerLink="/cart" routerLinkActive="active" >
      <mat-icon>shopping_cart</mat-icon>
    </a>
   </mat-toolbar>
</header>

