<header>
  <mat-toolbar color="primary">
    <span>ngrx-shopping-cart</span>
    <span class="fill-remaining-space1"></span>
    <button mat-button color="accent" >
      <a class="links" routerLink="['/']" routerLinkActive="active" >Home</a>
    </button>
    <span class="fill-remaining-space2"></span>
    <button mat-button color="accent" >
      <mat-icon>
        <a class="links" routerLink="['/cart']" routerLinkActive="active">
          shopping_cart
        </a>
      </mat-icon>
    </button>
  </mat-toolbar>
</header>

