<footer>
  <div class="footer">
    <div class="row">
      <div class="links">
        <a href="https://github.com/kumaran-is/ngrx-shopping-cart" target="_blank">
          <span>Github</span>
        </a>
        <a href="https://twitter.com/kumaranis" target="_blank">
          <span>Twitter</span>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <span>Facebook</span>
        </a>
        <a href="https://www.youtube.com/"
          target="_blank">
          <span>Youtube</span>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <span>Instagram</span>
        </a>
        <a href="https://twitter.com/kumaranis" target="_blank">
          <span>Contact Us</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div>
        &#169; <span>2019</span> - ngrx-shopping-cart
      </div>
    </div>
    <div class="row">
      <div>
       <span>App Version</span> - {{appVersion}}
      </div>
    </div>
  </div>
</footer>
