<footer>
  <div class="footer">
    <div class="row">
      <div class="links">
        <a href="https://github.com/kumaran-is/ngrx-shopping-cart" target="_blank">
          <span>Github</span>
        </a>
        <a href="https://twitter.com/kumaranis" target="_blank">
          <span>Twitter</span>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <span>Facebook</span>
        </a>
        <a href="https://www.youtube.com/"
          target="_blank">
          <span>Youtube</span>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <span>Instagram</span>
        </a>
        <a href="https://twitter.com/kumaranis" target="_blank">
          <span>Contact Us</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div>
        <span class="copyright">&#169; 2019 - ngrx-shopping-cart </span>
      </div>
    </div>
    <div class="row">
      <div>
       <span class="version">App Version - {{appVersion}}</span>
      </div>
    </div>
  </div>
</footer>
