<footer>
  <div class="footer">
    <div class="row">
      <div class="col-sm-12 links">
        <a href="https://www.github.com/tomastrajan" target="_blank">
          <span>Github</span>
        </a>
        <a href="https://www.medium.com/@tomastrajan" target="_blank">
          <span>Medium</span>
        </a>
        <a href="https://www.twitter.com/tomastrajan" target="_blank">
          <span>Twitter</span>
        </a>
        <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"
          target="_blank">
          <span>Youtube</span>
        </a>
        <a href="https://www.instagram.com/tomastrajan" target="_blank">
          <span>Instagram</span>
        </a>
        <a href="https://www.slides.com/tomastrajan" target="_blank">
          <span>Slides</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 signature">
        &#169; <span class="year" data-testid="footer-year">2019</span> - ngrx-shopping-cart
      </div>
    </div>
  </div>
</footer>
